* {

}

body {
	font-family: 'Ubuntu', sans-serif;
	color: white;
	font-size: 4.5em;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	margin-top: 9.5em;
	margin-bottom: 1em;
	margin-left: 2%;
	box-sizing: border-box;
}

#content {
	border-top: .1em solid white;
	height: 5em;
	background-color: #24272c;
}
