* {
/*	border: 2px solid yellow;*/
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
}

#icon_bin {
	position: fixed;
	padding: 0;
	margin-left: 10px;
	margin-top: 10px;	
	margin-left: .6vmax;
	margin-top: .6vmax;	
	width: 70px; /*fall-back size*/
	width: 7vmax;
}

.icon {
	display: inline-block;
	border-radius: 10px;
	border-radius: 1vmax;	
	border: 5px solid white; /*fall-back size*/
	border: 0.5vmax solid white;
	width: 50px; /*fall-back size*/
	max-width: 5vmax;
	height: 50px; /*fall-back size*/
	max-height: 5vmax;
	margin: 0 0 10px 0;
	margin: 0 0 1vmax 0;
	background: #5D5D5D;		/*fallback color*/
	background: rgba(93,93,93, 0.6);
}

.icon:hover {
	/*fallback color*/
	background: #000000;	
	background: rgba(0,0,0 0.6);
}

.icon img {
	width: 100%;
}

header {
	font-family: 'Ubuntu', sans-serif;
	color: white;
	font-size: 50px; /*fallback size*/
	font-size: 5vmax;	
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

header p {
	margin-top: 7em;
	margin-top: 60vmin;
	margin-left: 2%;
	position: fixed;
}

#content_bin_1 {
	float: right;
	width: 48%;
	height: 100%;
	border-left: 15px solid white;
	/*fallback color*/
	background-color: #24272c;
	background-image: linear-gradient(45deg, #24272c, #5D5D5D);
}

#content_bin_1 p {
	font-family: 'Ubuntu', sans-serif;
	color: white;
	font-size: 20px;
	font-size: 2vmax;
	text-align: left;
	width: 90%;
	margin-left: 5%;
	margin-right: 3%;
}

#head_shot {
	margin-top: 20px;
	margin-left: 10vmax;
	border-radius: 100%;
	width: 200px;
	width: 40vmin;
	max-width: 60%;
	border: 10px solid white;
	border: 0.7vmax solid white;
}

.small_photos {
	margin-left: 15%;
	border-radius: 100%;
	width: 100px;
	height: 100px;
	width: 22vmin;
	height: 22vmin;
	border: 5px solid white;
	border: .5vmin solid white;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
