* {
	/*border: 2px dashed yellow;*/
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
}

header {
	height: 71%; /*fall-back*/
	height: 51vmax;
}

header p {
	font-family: 'Ubuntu', sans-serif;
	color: white;
	font-size: 4.5em;
	letter-spacing: 0.5em;
	text-align: center;
	margin: auto;
}


#header_name {
	margin-top: 0;
	padding-top; 0;
	font-family: Arial;
	letter-spacing: 5px;
	font-size: 150px;	/*fall-back size in case vw units aren't supported*/	
	font-size: 12vmax;
	font-weight: bold;
	font-style: italic;
	color: white;
	height: 30%;  /*fall-back*/
	height: 16vmax;
	/*http://stackoverflow.com/questions/2293910/css3-transparency-gradient*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.7)), to(rgba(255,255,255,0.0)));
}

/*essentially creates a max font size*/
/*see https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Media_queries*/
@media screen and (max-width: 1000px) {
#header_name { 
	font-size: 50px;
	font-size: 10vmin; 
	}
}

#header_content {
	width: 85%;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 0;
	height: 35%;   /*fall-back*/
	height: 18vmax;
	text-align: center;
}

.content_box {
	width: 25%;
	height: 100%;
	max-height: 100%;
	border-radius: 10px;
	border: 10px solid white;  /*fall-back*/
	border: 1.5vw solid white;
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
		/*fallback color*/
	background: rgb(36, 39, 44);	
	background: rgba(36, 39, 44, 0.5);



	/*will set just background opacity to 0.3*/
	/*background-color: gray;*/
	/*background: rgba(255, 255, 255, .3);*/
}

.content_box p {
	font-family: 'Ubuntu', sans-serif;
	color: white;
	font-size: 40px; /*fall-back size in case vw's aren't supported*/
	/*  http://css-tricks.com/viewport-sized-typography/  */
	font-size: 3vw;
	font-weight: bold;
	margin: auto;
	margin-top: 30%;
	letter-spacing: 0.1em;
}

.content_box:hover {
	/*fallback color*/
	background: rgb(36, 39, 44);	
	background: rgba(36, 39, 44, 0.7);
}

#scroll_down {
	width: 22%;
	width: 20vmax;
	margin: auto;
	margin-top: 4%;
}

#scroll_down img {
	width: 100%;
	margin: auto;
}

.info_box {
	width: 100%;
/*don't want to specify the height explicitly, that way it will stretch to fit contents*/
	margin: 0;
	background-color: #24272c;	/*fallback color*/
	background-image: linear-gradient(180deg, #24272c, #5D5D5D);
	box-sizing: border-box;
	border-top: 15px solid white; /*fallback border*/
	border-top: 1.5vw solid white;
	text-align: center;
}

.info_box_content {
	margin-top: 1%;
	margin-left: 1%;
	width: 32%; /*fallback size*/
	width: 28vmax;
	display: inline-block;
}

.info_box_content span {
	font-family: 'Ubuntu', sans-serif;
	color: white;
	font-size: 3em; /*fallback size*/
	font-size: 3.5vmax;
}

.info_box_content a img {
	margin-top: 1%;
	width: 20%; /*fallback size*/
	height: 50%; /*fallback size*/
	width: 10vmin;
	height: 10vmin;
}

.info_box_content a img:hover {
	border: 2px solid white;
	/*the following will fade the images on mouse hover*/
/*  -webkit-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 0.25;*/
}

#circle_photo_container {
	margin-top: 1%;
	border-radius: 100%;
	margin-left: 5%;
	width: 12em; /*fallback size*/
	width: 13vmax;
	height: 12em; /*fallback size*/
	height: 13vmax;
	border: .2em solid white; /*fallback size*/
	border: 0.5vmax solid white;
	display: inline-block;

}

#circle_photo_container img {
	border-radius: 100%;
	width: 100%;
	height: 100%;
}


