* {
	/*border: 2px solid yellow;*/
}

body {
	margin: 0px;
	margin-top: 0;
	padding: 0px;
}

#icon_bar {
	position: fixed;
	padding: 0;
	margin-left: 10px;
	margin-top: 10px;	
	margin-left: .6vmax;
	margin-top: .6vmax;	
	width: 70px; /*fall-back size*/
	width: 5vmax;
}

.icon {
	display: inline-block;
	border-radius: 10px;
	border: 5px solid white; /*fall-back size*/
	width: 50px; /*fall-back size*/
	max-width: 6vmax;
	height: 50px; /*fall-back size*/
	max-height: 6vmax;

	margin: 10px 0 10px 0;
}

.icon:hover {
	/*fallback color*/
	background: rgb(36, 39, 44);	
	background: rgba(36, 39, 44, 0.5);
}

.icon img {
	margin: 0;
	padding: 0;
	width: 100%;
}

#content_panel {
	font-family: 'Ubuntu', sans-serif;
	color: white;
	font-size: 40px;
	border-left: 10px solid white;
	border-right: 10px solid white;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	width: 70%;
	height: 100%;
	background: rgb(36, 39, 44);		/*fallback color*/
	background: rgba(36, 39, 44, 0.9);
	text-align: center;
}

#heading {
	font-family: Arial;
	letter-spacing: 5px;
	font-size: 150px; /*fallback size*/
	font-size: 13vmax;
	font-weight: bold;
	font-style: italic;
	color: white;
	display: inline-block;
	margin: auto;
	margin-top: 0;
	padding-top: 5%;
}

#down_arrow {
	display: inline-block;
	margin: auto;
	margin-top: 0;
	margin-bottom: 0;
	width: 40%;
}

.project_panel {
	width: 60%;
	height: 220px;
	height: 14vmax;
	border-radius: 10px;
	border: 8px solid white;
	border: 0.6vmax solid white;
	display: inline-block;
	margin: auto;
	margin-top: 20px;
}

.project_panel p {
	vertical-align: top;
	font-weight: lighter;
	font-size: 23px; /*fallback*/
	font-size: 2.6vmin;
	display: inline-block;
	margin: auto;
	margin-top: 23px;
	margin-top: 2.6vmin;	
	width: 40%;
	height: 90%;
}

.project_panel img {
	border-radius: 10px;
	border: 2px solid white;
	display: inline-block;
	margin: auto;
	vertical-align: center;
	margin-top: 1.25%;
	width: 40%;
	height: 90%;
}

.project_panel div {
	display: inline-block;
	width: 5%;
}

.project_panel img:hover {
	border: 5px solid white;
	border: 0.5vmax solid white;
	margin-top: .5%;
}

.project_panel:hover {
	background: rgba(255,255,255, 0.1);
}

span {
	font-weight: bold;
	font-family: Arial;
}